body {
    /* ========================================================
    This pattern is downloaded from www.subtlepatterns.com
    If you need more, that's where to get'em.
    ======================================================== */
    background-image: url(#{request.contextPath}/resources/images/prism.png);
    color: white;
}

* {
    margin: 0;
    padding: 0;
}
html body{
    height: 100%;
}

.wrapper{
    min-width: 720px;
    width: 100%;
    display: flex;
    float: left;
    min-height: 100%;
}

.menu{
    width: 15%;
    position: fixed;
    height: 100%;
    margin-right: 40px;
    background-color: #1f1e1e;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.menu-item{
    display: block;
    border-bottom: 2px solid white;
    text-align: center;
}

.menu-item:first-child{
    border-top: 2px solid white;
}


.menu-item a{
    display: block;
    text-decoration: none;
    color: #666666;
    min-height: 50px;
    font-size: 25px;
    vertical-align: center;
}

.menu-item a:hover{
    color: white;
}

.content-wrapper{
    width: 100%;
    position: relative;
    min-height: 100vh;
    margin-left: 15%;
}


.header{
    padding: 2%;
    max-height: 10%;
}

.content{
    margin: 2%;
    padding-bottom: 3rem;
}

.footer{
    border-top: 1px white ridge;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.data-view{
    border: 1px white solid;
    padding: 1%;
    border-radius: 5px;
}

.data-view ul{
    display: block;
    list-style: none;
}

.data-view li{
    border-bottom: 1px white dashed;
    display: flex;
    padding: 5px 0;
}

.data-view li:hover{
    -webkit-box-shadow: 0px 0px 33px -11px rgba(224,217,219,1);
    -moz-box-shadow: 0px 0px 33px -11px rgba(224,217,219,1);
    box-shadow: 0px 0px 33px -11px rgba(224,217,219,1);
}


.data-view li:first-child{
    border-top: 1px white dashed;
}

.data-view{
    color: white;
    text-decoration: none;
}

.data-view-component{
    display: inline-flex;
    overflow: hidden;
}

.active{
    color: white;
}

.inactive{
    color: #5c5a5a;
}

.create-form{
    margin: 0 auto;
    border: 1px solid #227848;
    border-radius: 5px;
    display: flex;
    text-align: center;
    padding: 20px;

}


.form-group{
    margin: 5px 0;
    display: inline-flex;
}

.form-item{
}


